html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* header */

.logo-s {
width: 80PX;
}


/* navbar */
.header-bottom {
    font-size: 0.9em;
}

.search-bar {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-bar a .fa-solid  {
    font-size: 1.3em;
    color: black;
}

.dropdown-menu {
	width:100% !important;
}

.dropdown {
    position:unset;
}

.list-dot {
    list-style:circle;
}

/* jumbotron */
.jumbotron {
    color: white;
}

.returnal-logo img {
    width: 80%;
} 


.bg-returnal {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

}

.jumbo-sub .row .cover {
    overflow: hidden;

}

.jumbo-sub .row .cover a{
    display: block;
}

.jumbo-sub .row .cover a img {
    width: 100%;
    border-radius: 5%;
}
