html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.mt-jumbo {
    margin-top: 116px;
}

.subtitle-section {
    color: #787878;
}
/* header */

.logo-s {
width: 80PX;
}


/* navbar */
.header-bottom {
    font-size: 0.9em;
}

.search-bar {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-bar a .fa-solid  {
    font-size: 1.3em;
    color: black;
}

.dropdown-menu {
	width:100% !important;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
    top:99%
}

.dropdown {
    position:unset;
}

header .header-bottom .list-inline .list-inline-item a img {
    width: 5em;
}

.list-dot {
    list-style:circle;
}

.dropdown-toggle.show:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
}
/* jumbotron */
.jumbotron {
    color: white;
}

.returnal-logo img {
    width: 60%;
} 


.bg-returnal {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.jumbo-sub .row .cover {
    overflow: hidden;

}

.jumbo-sub .row .cover a{
    display: flex;
    justify-content: center;
}

.jumbo-sub .row .cover a img {
    width: 85%;
    border-radius: 5%;
}

/* ps5 */

.ps5 .row h5 {
    color: #137CD1;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.img-ps5 img {
    width: 100%;

}

.accessories-ps5 {
    display: flex;
    justify-content: center;
}

.active-accessories {
    border-bottom: 1px #2F8CD7 solid;
}
.accessories-ps5 img {
    width: 80%;
}

/* it takes two */

.taketwo {
    color: white;
}

.bg-takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.taketwo-logo img {
    width: 55%;
} 

/* nuove uscite */

.bg-releases {
    background-color: #1F1F1F;
}

.new-releases {
    color: white;
}

.list-game {
    display: flex;
    flex-wrap: wrap;
}

.cover-game {
    list-style: none;
    width: calc((100% / 6));
}

.new-game img {
    width: 100%;
}

.game-title {
    font-size: 0.9rem;
}

/* esplora ps4 */

.explore-img img {
    width: 100%;
}

/* playstation plus */
.psplus {
    background-color: #BEBCBB;
}

.psplus-title img {
    width: 70%;
}

.psplus .btn {
    color: #2D64E6;
}

.psplus-img img {
    width: 100%;
}

/* sales */

.sales .container .row img {
    width: 100%;
}

/* playstation now */

.psnow {
    background-color: #161C3B;
    color: white;
}

.psnow-title img {
    width: 70%;
}

.psplus .btn {
    color: #2D64E6;
}

.psnow-img img {
    width: 100%;
}

/* social media */

.social-img {
    display: flex;
    justify-content: center;
}

.social-img img {
    width: 100%;
}

/* footer */
footer {
    background-color: #00439C;
    color: white;

}

footer .list-unstyled li a {
    color: white;
    text-decoration: none;
}

.sie-logo img {
    width: 120px;
}

.copyright a {
    color: white;
    text-decoration: underline;
}
